:root {
    --color-black-dark: #242321;
    --color-black: #343330;
    --color-green: #45462a;
    --color-brown: #7e5920;
    --color-orange: #dc851f;
    --color-orange-light: #ffa737;
    --color-white: #fff6ec;
    --color-grey-light: #ddd6cd;

    --gradient: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--color-black);
    min-height: 100vh;
    color: var(--color-white);
    font-family: 'Inter', sans-serif;
}

.visually-hidden {
    display: none !important;
}

.wrapper {
    padding: 1rem;
}

.container {
    width: 40rem;
}

a {
    color: var(--color-orange-light)
}

h1 {
    font-size: 2.4rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    margin: 1rem;
}

dd, dt, dl {
    padding: 0;
    margin: 0;
}

.header {
    min-height: 5rem;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.header__menu a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.2rem;
}

.footer {
    background-color: var(--color-black-dark);
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form__original-select,
.form__input {
    appearance: none;
    outline: none;
    min-width: 0;
    border-radius: 1rem;
    padding: .5rem 1rem;
    background-color: var(--color-black-dark);
    color: var(--color-white);
    font-size: 1.4rem;
    border: .15rem solid var(--color-brown);
}

.form__select{
    display: block;
    position: relative;
    font-size: 1.4rem;
}

.currency-selector::after {
    content: "";
    position: absolute;
    top: .7rem;
    right: 1rem;
    width: 1.1em;
    height: 1.1em;
    background: center/cover url("../images/select-arrow.svg") no-repeat;
    pointer-events: none;
}

.form__select-icon{
    position: absolute;
    top: .6rem;
    left: 1rem;
    width: 1.1em;
    height: auto;
    pointer-events: none;
}

.form__original-select option{
    color: var(--color-white);
    font-size: 1rem;
}

.currency-selector{
    width: 9rem;
}

.currency-selector select{
    text-align: center;
    width: 9rem;
    color: var(--color-orange);
    cursor: pointer;
}

.currency-selector select option:checked{
    display: none;
}

.form__label{
    color: var(--color-brown);
    text-align: center;
    font-size: 1rem;
}

.form__original-select:hover, 
.form__input:hover {
    border-color: var(--color-orange);
}

.form__original-select:focus,
.form__input:focus{
    border-color: var(--color-orange-light);
}



.form__block {
    display: flex;
    flex-direction: column;
}

.form__message {
    color: red;
    font-size: 1rem;
}

@media (max-width: 50rem) {
    .container {
        width: auto;
    }
    .convertor__form {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1rem;
    }
    .currencies__list{
        grid-template-columns: 1fr;
    }
}